body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: rgba(180, 203, 109, 0.116);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

a {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.CSFont {
    font-family: 'Comic Sans MS', cursive, sans-serif !important;
}
.p-center{
    text-align: center;
}
.tableau-container {
    width:  900px!important;
    margin: 0 auto !important;
    padding: 0 !important;
    align-self: center;
    border-radius: 12px;
    justify-content: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, .15);
}